<div id="experience margin-top-40">
  <div class="container-fluid cc-experience">
    @for (experience of experiences; track $index) {
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="card-title">
            {{experience.company}}
          </h3>
          <div class="card-tools">
            {{experience.period}}
          </div>
        </div>
        <div class="card-body">
          @for (role of experience.roles; track $index) {
            <h5>{{role}}</h5>
          }
          @if (experience.description) {
            <p>{{experience.description}}</p>
          }
          @if (experience.achievements) {
            <ul>
              @for (achievement of experience.achievements; track $index) {
                <li>{{achievement}}</li>
              }
            </ul>
          }
        </div>
      </div>
    }
    <div class="text-center">
      <a href="/docs/cv.pdf" >See my CV for more information.</a>
    </div>
  </div>
</div>