<div class="section" id="about">
  <div class="container-fluid">
    <div class="card">
      <div class="row margin-top-15">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>As a Software Engineer, I design and develop applications and software solutions. I work primarily with TypeScript, SQL, and AWS to create and maintain high-quality code that meets the clients' needs and expectations. I also collaborate with other engineers, testers, and project managers to ensure the delivery of robust and scalable products.</p>
            <p>I graduated with a 1st Class MEng in Software Engineering from Heriot-Watt University in 2021, maintaining a strong academic record. I also have a diverse range of industrial experiences including with VITEC/Exterity; Turnbull & Scott; and Emtelle Ltd where I honed my skills in software design, network management and problem-solving. I am passionate about learning new technologies and applying them to real-world challenges. I am fast learned, motivated by opportunities to inovate and create long lasting solutions.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">
                <a href="mailto:admin@matthewfrankland.co.uk">admin&#64;matthewfrankland.co.uk</a>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Location:</strong>
              </div>
              <div class="col-sm-8">The Scottish Borders</div>
            </div>
            <div class="row mt-3 justify-content-end margin-10 gap-10">
              <a class="btn btn-primary" href="/assets/docs/cv.pdf" rel="tooltip" title="CV partially redacted for privacy. Full copy available on request.">CV</a>
              <a class="btn btn-primary" href="/assets/docs/transcript.pdf">Transcript</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>