<div id="experience" style="margin-top: 40px">
  <div class="container cc-experience">
    @for (experience of experiences; track $index) {
      <div class="card" style="padding-left: 10px; padding-right: 10px;">
        <div class="row">
          <div class="col-md-3 bg-primary">
            <div class="card-body cc-experience-header">
              <div class="h5" style="font-weight: bold;">
                {{experience.company}}
              </div>
              <p>{{experience.period}}</p>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              @for (role of experience.roles; track $index) {
                <h5>{{role}}</h5>
              }
              @if (experience.description) {
                <p>{{experience.description}}</p>
              }
              @if (experience.achievements) {
                <ul>
                  @for (achievement of experience.achievements; track $index) {
                    <li>{{achievement}}</li>
                  }
                </ul>
              }
            </div>
          </div>
        </div>
      </div>
    }
    <div style="text-align: center;">
      <a href="/assets/docs/cv.pdf" >See my CV for more information.</a>
    </div>
  </div>
</div>