.github-link {
  display: inline-grid;
  background-color: black;
}

.linkedin-link {
  display: inline-grid;
  background-color: #0a66c2;
}

.facebook-link {
  display: inline-grid;
  background-color: #4267B2;
}