<footer class="footer margin-bottom-20">
  <div class="button-container text-center">
    <div class="h4 title text-center mb-0 text-body-emphasis">Matthew Frankland</div>
    <div class="text-center text-muted">
      <p class="margin-bottom-10">&copy; {{year}}. All rights reserved.</p>
    </div>
    <div class="d-flex flex-row justify-content-center gap-10">
      <a href="https://facebook.com/mattfrank48/" target="_blank" class="btn btn-lg btn-icon facebook-link" rel="tooltip" title="Contact me on Facebook">
        <fa-icon [icon]="iconSvc.getIcon('fab', 'face-angry')" class="text-white" />
      </a>
      <a href="https://www.linkedin.com/in/mf48/" target="_blank" class="btn btn-lg btn-icon linkedin-link" rel="tooltip" title="Connect with me on LinkedIn">
        <fa-icon [icon]="iconSvc.getIcon('fab', 'linkedin')" class="text-white" />
      </a>
      <a href="https://github.com/m-f-1998/" target="_blank" class="btn btn-lg btn-icon github-link" rel="tooltip" title="Follow me on GitHub">
        <fa-icon [icon]="iconSvc.getIcon('fab', 'github')" class="text-white" />
      </a>
    </div>
  </div>
</footer>