<div class="header-component">
  <div class="page-header page-header-small" filter-color="green">
    <div class="page-header-image"></div>
    <div class="container">
      <div class="content-center">
        <div class="profile-image d-flex justify-content-center align-items-center">
          <a href="/">
            <img src="/assets/matthew.jpg" alt="Profile Image"/>
          </a>
        </div>
        <div class="h2 title">Matthew Frankland</div>
        <p>Web & Application Developer</p>
        <div class="d-flex justify-content-center gap-2 flex-wrap">
          <a href="https://facebook.com/mattfrank48/" target="_blank" class="btn btn-lg btn-icon facebook-link" rel="tooltip" title="Contact me on Facebook">
            <fa-icon [icon]="iconSvc.getIcon('fab', 'facebook')" class="text-white" size="2x" />
          </a>
          <a href="https://www.linkedin.com/in/mf48/" target="_blank" class="btn btn-lg btn-icon linkedin-link" rel="tooltip" title="Connect with me on LinkedIn">
            <fa-icon [icon]="iconSvc.getIcon('fab', 'linkedin')" class="text-white" size="2x" />
          </a>
          <a href="https://github.com/m-f-1998/" target="_blank" class="btn btn-lg btn-icon github-link" rel="tooltip" title="Follow me on GitHub">
            <fa-icon [icon]="iconSvc.getIcon('fab', 'github')" class="text-white" size="2x" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>