<header>
  <nav class="navbar navbar-expand-sm bg-body-tertiary" style="background-color: var(--bs-success) !important; height: 100%;">
    <div class="container-fluid">
      <button class="navbar-toggler m-2" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNav" aria-controls="mobileNav" aria-expanded="false" aria-label="Toggle Navigation" style="color: white;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mobileNav" style="transition: none !important;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link smooth-scroll" (click)="scrollto('skill')">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" (click)="scrollto('projects')">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" (click)="scrollto('experience')">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-scroll" (click)="scrollto('contact')">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>