<div id="skill">
  <div class="container-fluid language-desktop-card">
    @for (skillGroup of skillGroups; track $index) {
      <div class="row mb-2">
        @for (skill of skillGroup.skills; track $index) {
          <div [class]="skill.optional ? 'd-none d-md-block col-md-4' : 'col-md-4 col-sm-6'">
            <div class="card card-body language">
              <div class="d-flex justify-content-center">
                @for (icon of skill.icons; track $index) {
                  <img [src]="icon" class="icon"/>
                }
              </div>
              <p id="skillName">
                {{skill.name}}<br/>
              </p>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>