@import "@fontsource/montserrat/400.css"; // Specify weight
@import "@fontsource/montserrat/700.css"; // Specify weight

body {
	font-size: 14px;
	font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
	font-weight: var(--bs-body-font-weight);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #40a249;
	color: #fff;
	box-shadow: none;
}

.btn:hover {
	background-color: #28a745;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
	filter: brightness(0.8);
}

.title {
	font-weight: 700;
}

.section {
	padding-top: 30px;
	position: relative;
}

a {
	color: #378c3f;
}

.section-title {
	color: var(--bs-emphasis-color);
	margin-bottom: 20px;
}